@font-face {
  font-family: "Janna";
  src: url("JannaLT-regular.woff") format("woff"),
       url("JannaLT-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Janna";
  src: url("JannaLT-Bold.woff") format("woff"),
       url("JannaLT-Bold.ttf") format("ttf");
       font-weight: bold;
}
